<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.vo_ai_service.mapper.AudioFileMapper">

    <resultMap id="BaseResultMap" type="org.example.vo_ai_service.entity.AudioFile">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="fileName" column="file_name" />
            <result property="filePath" column="file_path" />
            <result property="fileSize" column="file_size" />
            <result property="fileFormat" column="file_format" />
            <result property="duration" column="duration" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,file_name,file_path,file_size,file_format,
        duration,create_time
    </sql>
</mapper>
